body {
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #dcffdc;
}

.header-container,
.main-container,
.footer-container {
    text-align: center;
}

.textInput {
    width: 80%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(0, 136, 0);
    resize: both;
    min-width: 20vw;
    max-width: 90vw;
    min-height: 30vh;
    max-height: 80vh;
}

.spellCheckBtn {
    width: 20%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.misspelled-message-title {
    color: rgb(226, 5, 5);
}

.misspelled-word {
    color: rgb(226, 5, 5);
}