body {
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #09212f;
    height: 100%;
    color: #fff;
}

a {
    color: #fff;
}

.header-container,
.main-container,
.footer-container {
    text-align: center;
}

.footer-container {
    margin-top: 30px;
}

.textInput {
    margin-top: 20px;
    width: 80%;
    padding: 7px;
    border-radius: 5px;
    background-color: #f5eddb;
    resize: both;
    min-width: 20vw;
    max-width: 90vw;
    min-height: 30vh;
    max-height: 70vh;
}

.spellCheckBtn {
    width: 35vw;
    cursor: pointer;
    padding: 12px 15px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #8ad959;
    border: none;
    color: #000;
    transition: transform ease-in 0.5s;
}

.spellCheckBtn:hover {
    background-color: #76c148;
    transform: translateY(-2px);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.misspelled-message-title {
    color: #ffb5a4;

}

.misspelled-word {
    color: #ffb5a4;
    padding: 8px 20px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #ffb5a4;
}

.misspelled-word:hover {
    background-color: #040e14;
}

.misspelled-word-btn-block {
    text-align: left;
    padding: 10px 0px;
}

.misspelled-block-description {
    margin-bottom: 20px;
}

#check-result-container {
    width: 80%;
}

#check-result-block {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}
.misspelled-block-add-border{
    border: 1px solid rgb(248, 3, 3);
}

.add-btn {
    width: 20vw;
    cursor: pointer;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: #b8ff8c;
    color: #000;
    transition: transform ease-in 0.5s;
    border: none;
}

.add-btn:hover {
    background-color: #90d366;
    transform: translateY(-2px);
}

.main-title {
    color: #fff;
}

@media (max-width: 768px) {
    .spellCheckBtn {
        width: 80vw;
        font-size: 0.9rem;
    }

    .textInput {
        width: 76vw;
    }
}